<p id="notice"><%= notice %></p>

<h1>Orders</h1>



<div class="container-fluid">
  <div class="row">
     <% cache @orders do %>
      <%= render @orders %>
    <% end %>
  </div>
</div>


  <button type="button" class="new_order" data-toggle="tooltip"  title="New Order"><%= link_to 'New Order', new_order_path %></button>
