// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.img-responsive {
  width: 50%;
  height: auto;
  padding: 20px;
  margin: 20px;

}

.product-info{
  padding-bottom: 100px;
}
