// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:     Raleway,Open-sans,Arial,sans-serif;
$primary-color: #080808;

body  {
  font: 100% $font-stack;
  color: $primary-color;
  padding-top: 50px;
  padding-bottom : 20px;

}

.product_grid_box {
    background-color: #ccc;
    border : 1px solid grey;
    padding: 20px;
    color: #000000 !important;
    font-size: 16px;
    line-height: 28px;
    min-height: 174px;
    position: relative;
}

.frame-image{border : 1px solid grey}

.navbar {
   background-color: #080808;
  font-family: Raleway,Open-sans,Arial,sans-serif;
   font-size: 1.1em;
}
.navlog{
  font-size: 1.1em;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;

}

.nav li {
  font-family: Raleway,Open-sans,Arial,sans-serif;

   background-color: #444;
   color: #fff;
}
.dropdown-menu li a{
  
color : #fff;
}
.form-signin-heading, form-signin-heading{
  text-align: center;

}


.footer-d 
{
position:fixed;
   left:0px;
   bottom:0px;
   //height:40px;
   width:100%;
   background-color: #010101;
   //background-color:  #33383b;
padding: 10px 50px;

}


.footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}
.footer-copy{
  font: Raleway,Open-sans,Arial,sans-serif;
  color:#ffffff;
  font-size:18px;
  color:  #ffffff;
  margin: 0 0 10px;
  padding-top: 15px;
}
.footer a:hover {
  background-color: #005f5f;
}
