<p id="notice"><%= notice %></p>


    <h1>Products</h1>

<br>

<div class="container-fluid">
  <div class="row">
    <% cache @products do %>
      <%= render @products %>
    <% end %>
  </div>
  
</div>

<button type="button" class="new_product" data-toggle="tooltip"  title="New Product"><%= link_to 'New Product', new_product_path %></button>

